<%- include partials/header.ejs %>

<div class="jumbotron">
	<div class="container">
		<h2><%= title %></h2>
		<p><%= message %></p>
	</div>
	<div class="container">
		<h3>Contact Information</h3>
		<ul>
			<li>Phone:  705-279-4770</li>
			<li>Email:  timharasym@gmail.com</li>
		</ul>
	</div>
</div>

<%- include partials/footer.ejs %>