<%- include partials/header.ejs %>

<div class="container">
	<h1><%= title %></h1>
	<p><%= message %></p>
	<p>More coming soon...</p>
	<h4>GO JAYS!</h2>
</div>


<%- include partials/footer.ejs %>

<!-- Local directory C:\Users\Tim\Desktop\School\Semester3\myPortfolio -->