<%- include partials/header.ejs %>

<div class="jumbotron">
	<div class="container">
		<h1><%= title %></h1>
		<p><%= message %></p>
	</div>

</div>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
		<img class="logos" src="images/MEAN.png" alt="MEAN stack">
		<img class="logos" src="images/HTML5.png" alt="HTML5">
		<img class="logos" src="images/css3.jpg" alt="css3">
		<img class="logos" src="images/php.jpg" alt="php">
		<img class="logos" src="images/MySQL.jpg" alt="php">
		</div>
	</div>
</div>

<%- include partials/footer.ejs %>