<% include partials/header.ejs %>
    <div class="jumbotron">
      <div class="container">
      <h1>Welcome...</h1>
      <p> To my website. Have a look around, and enjoy your stay.</p>
      </div>

    </div>
<% include partials/boot.ejs %>
<% include partials/footer.ejs %>
