/* Added styles besides bootstrap */
.footer {
	bottom: 0;
	position: fixed;
	width: 100%;
	background-color: rgb(120,120,120)
}

.logos {
	width: 150px;
	height: 120px;
}

.li-link{
	background: -webkit-linear-gradient(rgb(255,255,255), rgb(248,248,248)); 
	/* For Safari 5.1 to 6.0 */
	
	background: -o-linear-gradient(rgb(255,255,255),rgb(248,248,248)); 
	/* For Opera 11.1 to 12.0 */
	
	background: -moz-linear-gradient(rgb(255,255,255), rgb(248,248,248)); 
	/* For Firefox 3.6 to 15 */
	
	-webkit-transition: background 1.75s; /* Safari */
    transition: background 1.75s;
}

.li-link:hover{
	background: rgb(245,245,245);

}

html{
	height: 100%;
}

body {
	min-height: 100%;
	background: -webkit-linear-gradient(rgb(238,238,238), rgb(220,220,220)); 
	/* For Safari 5.1 to 6.0 */
	
	background: -o-linear-gradient(rgb(238,238,238),rgb(220,220,220)); 
	/* For Opera 11.1 to 12.0 */
	
	background: -moz-linear-gradient(rgb(238,238,238), rgb(220,220,220)); 
	/* For Firefox 3.6 to 15 */
	
	background: linear-gradient(rgb(238,238,238),rgb(220,220,220)); 
	/* Standard */
} 